.feed-icon{
    display:flex;
    align-items: center;
    border:none;
    padding:7px;
    
}
.feed-icon{
    img{
        width:20px;
    }
}

#chat-icon{
    width:25px;
    margin:0 10px;
}
#red-heart{
    margin-left: 10px;
}
.save-icon{
    margin-left:370px;
}