.navWrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  margin-top: 0px;

  nav {
    width: 800px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    .title {
      font-family: "Lobster", cursive;
      display: flex;
      align-items: center;
    }

    img {
      width: 30px;
    }
    input {
      background-color: #fafafa;
      border: 1px solid #d0d0d0;
      padding: 5px 0px;
      border-radius: 4px;
    }
    input::placeholder {
      background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
      background-size: contain;
      background-position: 30% center;
      background-repeat: no-repeat;
      text-align: center;
      text-indent: 0;
    }
    .navBar {
      display: flex;
      align-items: center;
    }
  }
}
